<div id="signature-pad" class="m-signature-pad">
    <div class="m-signature-pad--body">
        <canvas id="signature"></canvas>
    </div>
    <div class="m-signature-pad--footer">
        <div class="description">Sign above</div>
        <button class="button clear" ng-click="signaturePad.clear()">Clear</button>
        <button class="button save" ng-click="save()">
            Save
        </button>
    </div>
</div>
